h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: white;
}

body {
    text-align: center;
    margin: 0px auto;
    width: auto;
    height: auto;
    background-color: black;
}

p {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h3[id="intro"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: gray;
}

h3[id='footer'] {
    text-align: right;
    color: gray;
    padding-right: 50px;
}

img[id="phone-icon"] {
    display: block;
    margin: 15px auto;
}
